.pog-hero {
    background: rgb(106,63,146);
    background: linear-gradient(180deg, rgba(106,63,146,1) 0%, rgba(70,56,174,1) 100%);
    color: #ffffff;
}

.pog-hero h1 {
    color: #ffffff;
}

.pog-hero img.poggy {
    max-height: 300px;
    position: relative;
    top: 40px;
}

.btn-primary {
    background-color: #ffb73f;
    box-shadow: 0 0 10px #2c2174;
    border: transparent 0;
    text-shadow: 1px 2px 2px #b47d20;
}

.btn-primary:hover {
    background-color: #f69f0e;
}

.btn-primary:focus,
.btn-primary:active {
    background-color: #ffc258 !important;
}

.btn-outline-secondary {
    border-color: #7e62a1;
    color: #7e62a1;
}

.btn-outline-secondary:hover {
    color: #cbbbdf;
    background-color: #7e62a1;
}